input,
texture,
select,
button {
  font-family: system-ui;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
a {
  color: #357b70;
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #05676e;
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: #489c79;
}
