.contact-info a {
  text-decoration: none;
  color: #725bda;
}
.contact-info a:hover {
  color: #d400ff;
}

.contact-info h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000000;
}

.contact-info {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group small {
  margin-top: 5px;
  color: #666;
}

.secondary_button {
  background-color: #357b70;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondary_button:hover {
  background-color: #285c54;
}
