input,
select,
textarea,
button {
  font-family: system-ui;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header-container {
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
.navigation-list__item--active {
  text-decoration: none;
}
.profile_picture {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}
a {
  color: #357b70;
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #05676e;
}
a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: #489c79;
}
