.skills-chart {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.skills-chart h2 {
  text-align: center;
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.level {
  height: 100%;
  background-color: #725bda;
}

.level.html {
  width: 100%;
}

.level.css {
  width: 65%;
}

.level.js {
  width: 50%;
}

.level.react {
  width: 25%;
}

.level.C {
  width: 50%;
}

/* .button-cv-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3700ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
} */

.button-cv-link:hover {
  background-color: #d400ff;
}

/* Pokeball container */
.pokeball-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 40px 0;
  background-color: #f9f9f9; /* opzionale, solo per risalto */
}

/* Pokeball already styled in animation.css */
.pokeball {
  display: block;
  width: 192px;
  height: 192px;
}

/* media queries */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .work-section h1 {
    font-size: 24px;
  }

  .grid__item {
    padding: 15px;
  }
}
