/* * {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
 */